.img2{
    width: 866px;
    height: 1240px;
    flex-shrink: 0;
    margin-right: 80%;
    position:static;
  }
  .flex2{
      display: flex;
  }
  .text{
      position:absolute;
        color: var(--C-4, #fff);
    text-align: center;
    font-family: Open Sans;
    font-size: 34px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display:list-item; 
    padding-left: 15%;
    padding-top: 3%;
    }
  .main2
  {
      margin-left: 7%;
      padding-top: 3%;
        flex: 1;
        height: 1200px;
  
  }
  .logos2 {
      width: 356px;
      height: 55.241px;
      flex-shrink: 0;
  }
  .c{
      color: var(--Yellow-Color, #00394D);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  }
  .s{
      color: var(--Yellow-Color, #00394D);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.32px;
  }
  
  .h1{
      font-display: bold;
  }
  .h1{
      color: var(--Yellow-Color, #00394D);
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 20px;
  padding-right: 35%;
  }
  .radio1{
      background-color: #DC4326;
      display: inline-block;
      width: 200px;
      height: 44px;
      font-size: large;
      top: 10px;
      left: 832px;
      margin-top: 3%;
      padding-top: 3%;
      border-radius: 15px;
      border: 1px;
      padding-left: 24px;
  }
  .radio2{
      background-color: #DFDFDF;
      display: inline-block;
      width: 200px;
      height: 44px;
      font-size: large;
      top: 10px;
      left: 832px;
      padding-top: 3%;
      border-radius: 15px;
      border: 1px;
      padding-left: 24px;
  
  }
  .phone2{
    width: 436px;
height: 30px;
top: 451px;
left: 832px;
padding: 12px 20px;
margin: 8px 0;
box-sizing: border-box;
border: none;
border-bottom: 2px solid red;
width: 55%;

}