.mainotp{
    display: flex;width: 100%;
  }
  .step2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  .forgeth1{
    font-style: bold;
    font-weight: bold;
  }
  .buttonotp{
    background-color: #DC4326;
    width: 267px;
    height: 55px;
    border-radius: 5%;
    margin-top: 5%;
    /* margin-left: 1%; */
    font-size: larger;
    color: #fff;
  }
  .createotp{
    text-decoration: none;
   color: #6A6A6A;
  }
  .linklogin{
    padding-top: 10%;
  }
  .emaiil{
    padding: 10px 90px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
    width: 83%;
    display: inline;
  }
  