.footer {
  /* margin-top: 12.57rem; */
  /* display: block; */
  background-color: #00394d;
  width: 100%;
  height: 454px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lines {
  padding-top: 10px;
  color: #ffffff;
  font-size: medium;
}
.image1 {
  padding-top: 2%;
}
.qr {
  color: #ffffff;
  padding-top: 3%;
}
.footer1 {
  display: block;
  background-color: #022d3d;
  width: 1440;
  height: 50px;
}
.follow {
  padding-left: 8%;
  color: #ffffff;
  position: absolute;
  padding-top: 5px;
}
.logoss {
  padding-top: 6px;
  padding-left: 13%;
}
.all {
  color: #ffffff;
  padding-left: 50%;
}
